.intro {
    background-image: url('../img/intro.png');
    background-attachment: fixed;

    .intro__nav {
        justify-content: space-between;

        .nav-item {
            width: 18%;
            margin: 0;

            .nav-link {
                padding: $pd-6 $pd-7;
                transition: all 0.3s;
                position: relative;
                border-radius: 0;
                background-color: rgba(34, 34, 34, 0.05);
                text-align: center;
                color: #434343;

                cursor: pointer;

                &:hover,
                &.active {
                    background-color: white;
                    color: #222;
                    ;
                }

                i {
                    font-size: $font-size-6;
                    transition: all 0.3s;
                }

                &:hover::after,
                &.active::after {
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    content: "";
                    display: inline-block;
                    border-style: solid;
                    border-color: transparent;
                    border-width: 10px;
                    border-top-color: white;
                    opacity: 1
                }
            }
        }
    }

    .tab-pane {
        line-height: 30px;
        padding: $pd-5 0;

        .intro__title {
            letter-spacing: 2px;
            margin-bottom: $mg-7 + 10;

            p {
                font-size: $font-size-1 + 1;
                color: $color-gray-1;
                
            }
            
        }
        p{
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width:768px) {
    .intro {
        padding: $pd-7 + 10 0;
        .container {
            max-width: 100%;
            .intro__nav {
                display: block;
                padding: 0 $pd-5 0 $pd-5;
                .nav-item {
                    width: 100%;
                    margin-bottom: $mg-1;
                }
            }
            .intro__text{
                padding: 0 $pd-5 0 $pd-5;
            }
        }
    }

}

